<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <base th:href="${#request.getContextPath()+'/'}">
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css">
    <style type="text/css">
        .modal-backdrop {
            opacity: 0 !important;
            filter: alpha(opacity=0) !important;
        }
    </style>
</head>
<body onload="setparentheight()">
    <table class="table table-striped">
        <tr>
            <th>比赛名称</th>
            <th>比赛代号</th>
            <th>比赛时间</th>
            <th>操作</th>
        </tr>
        <tr th:each="matchList:${matchLists}">
            <td th:text="${matchList.getMatchName()}"></td>
            <td th:text="${matchList.getMatchNameFormat()}"></td>
            <td th:text="${matchList.getMatchTime()}"></td>
            <td>
                <a th:href="${'/showSelectedMatchTable/'+matchList.getMatchNameFormat()}">修改</a>
                <a th:href="${'/deleteMatchTable/'+matchList.getMatchNameFormat()}">删除</a>
            </td>
        </tr>
    </table>

    <button id="btn_add" class="btn btn-primary" style="float: right"
            th:if="${session.limit} == 1 or ${session.limit} == 3">
        添加新的比赛记录
    </button>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <form class="modal-body" action="/createNewMatchBillTable" method="post" id="createNewMatchBillTable">
                    <div class="form-group">
                        <label for="matchName">比赛名称</label>
                        <input type="text" name="matchName" class="form-control" id="matchName" placeholder="比赛名称">
                    </div>
                    <div class="form-group">
                        <label for="matchTime">比赛时间</label>
                        <input type="date" name="matchTime" class="form-control" id="matchTime" placeholder="比赛时间">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                        <button onclick="subm()" id="btn_submit" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
<script src="../static/js/jquery/jquery.min.js"></script>
<script src="../static/js/popper/popper.min.js"></script>
<script src="../static/js/bootstrap/bootstrap.min.js"></script>
<script src="../static/js/script.js"></script>

<script type="text/javascript">
    $("#btn_add").click(function () {
        $("#myModalLabel").text("");
        $('#myModal').modal();
    });

    function subm(){
        var serializeArray = $("#createNewMatchBillTable").serializeArray();
        $.ajax({
            type:"POST",
            dataType:"json",
            url:"/createNewMatchBillTable",
            data:serializeArray,
            success: function (result) {
                console.log(result);
                if (result.resultCode === 200){
                    alert("SUCCESS")
                }
            },
            error: function () {
                reloadPage()
            }
        });
    }

    function setparentheight(){
        var modalHeight = document.getElementById("#myModal");
        parent.document.all(self.name).height=document.body.scrollHeight + modalHeight.height;
    }
</script>
</html>